.s-pointer {
    cursor: pointer !important;
}

.dropdown-toggle-no-after::after {
    content: '' !important;
}

.fs-1rem {
    font-size: 1rem;
}

.fs-2-5rem {
    font-size: 2.5rem;
}

.fs-larger {
    font-size: larger;
}

.custom-colors-set .nav-link.active::after {
    content: '';
    height: 0 !important;
}
